@model KledijModule.Areas.Admin.Pages.Gebruikers.IndexModel
@{
    ArgumentNullException.ThrowIfNull(Model);
}
<!-- Modal -->
<div id="my-modal" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div id="modal-body" class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Update balans</h5>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <form id="myForm" method="post"
                      hx-post="@Url.Page("Index","UpdateBalans")"
                      hx-target="#Gebruiker-@Model.GebruikerMetBalans.Id"
                      hx-swap="outerHTML">
                    <input type="hidden" asp-for="GebruikerMetBalans.Id" />
                    <div class="mb-3">
                        <label asp-for="GebruikerMetBalans.Balans" class="form-label"></label>
                        <input asp-for="GebruikerMetBalans.Balans" class="form-control" placeholder="Balans">
                    </div>
                    @Html.AntiForgeryToken()
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button form="myForm"
                        type="submit"
                        class="btn btn-primary">
                    Save changes
                </button>
            </div>
        </div>
    </div>
</div> 

<script>
    // Sluit de modal na een succesvolle HTMX request
    document.body.addEventListener('htmx:afterRequest', function (event) {
        const modalElement = document.getElementById('my-modal');
        const modalInstance = bootstrap.Modal.getInstance(modalElement);

        if (modalInstance) {
            modalInstance.hide();  // Sluit de modal
        }
    });
    function showModal() {
        const modal = new bootstrap.Modal('#my-modal');
        modal.show();
    }
    // scopes the modal so we can keep creating them
    showModal();
</script>
