@page
@model KledijModule.Areas.Admin.Pages.Gebruikers.EditModel
@{
}

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="GebruikerMetBalans.Id" />
            <div class="form-group">
                <label asp-for="GebruikerMetBalans.FullName" class="control-label"></label>
                <input asp-for="GebruikerMetBalans.FullName" class="form-control" autofocus />
                <span asp-validation-for="GebruikerMetBalans.FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GebruikerMetBalans.Balans" class="control-label"></label>
                <input asp-for="GebruikerMetBalans.Balans" class="form-control" />
                <span asp-validation-for="GebruikerMetBalans.Balans" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>