@page
@model KledijModule.Areas.Admin.Pages.Gebruikers.IndexModel

<table class="table align-middle text-center">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Users[0].FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users[0].Balans)
            </th>
            <th>Acties</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var user in Model.Users)
        {
            @await Html.PartialAsync("_Gebruiker",user);
        }
    </tbody>
</table>

<div id="modal-container"></div>