@using System.Security.Claims
@using KledijModule.Common.Authorization
@using Microsoft.AspNetCore.Identity
@using ProjectCore.Domain.Entities.Gebruiker

@{
    var userId =User.FindFirst(ClaimTypes.NameIdentifier)?.Value;
    bool userIsAdmin = User.IsInRole(Roles.Admin);
    ViewData["UserId"] = userId;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Kledijmodule</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/KledijModule.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
</head>
<body class="bg-light">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <div>
                    <a class="navbar-brand" asp-area="" asp-page="/Index">
                        <img src="~/Images/Logo/PZPolder_RGB.jpg" alt="logo PZ Polder" class="img-fluid logo" />
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <div class="navbar-collapse collapse flex-column align-items-start">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Catalogus/Index">Catalogus</a>
                            </li>
                        </ul>
                    </div>
                </div>
@*                 <div class="d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @if (userIsAdmin)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="Admin" asp-page="/Index">Admin</a>
                            </li>
                        }

                    </ul>
                </div> *@
                <div class="d-flex align-items-center gap-2">
                    <ul class="navbar-nav flex-grow-1">
                        @if (userIsAdmin)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="Admin" asp-page="/Index">Menu</a>
                            </li>
                        }

                    </ul>
                    @await Component.InvokeAsync("ShoppingCartSummary", new { UserId = userId })
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            <div id="htmx-alert" hidden class="alert alert-warning sticky-top"></div>
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted mt-auto">
        <div class="container">
            &copy; 2024 - Kledijmodule - Michiel De Bruyne <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://unpkg.com/htmx.org@2.0.1/dist/htmx.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>