<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Kledijmodule -Admin</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/KledijModule.styles.css" asp-append-version="true" />
</head>
<body class="bg-light">
                <div class="col-md-12">
        <div id="htmx-alert" class="alert alert-warning @* sticky-top@(TempData.ContainsKey(" Errors") ? "" : " d-none" *@)">
            @if (TempData["Errors"] != null)
            {
                <div class="alert alert-danger" role="alert">
                    @TempData["Errors"]
                </div>
            }
        </div>
                    @RenderBody()
                </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Michiel De Bruyne - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>



    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
