@page
@model  CheckoutCompleteModel
@{
}

<style>
    .centered-container {
        height: 75vh;
</style>

<div class="d-flex justify-content-center align-items-center centered-container">
    <div class="text-center">
        <i class="fa-solid fa-circle-check fa-5x" style="color: #1ce70d;"></i>
        <h2 class="mt-3">Uw bestelling werd bevestigd! Bedankt voor uw bestelling</h2>
    </div>
</div>