@page
@using KledijModule.Areas.Admin.Pages
@model IndexModel
@{
}

<div class="d-flex justify-content-end my-3 clearfix">
    <h3 class="me-auto">Kleuren</h3>
    <a asp-page="Create" class="btn btn-success me-1"><i class="fa-solid fa-plus"></i> Kleur Toevoegen</a>
    <a asp-page="#" class="btn btn-danger me-1"><i class="fa-solid fa-trash"></i> Verwijder (selected)</a>
</div>

<div class="container">
    <div class="table-responsive">
        <table class="table align-middle text-center">
            <thead class="thead-dark">
                <tr>
                    <th>Kleur</th>
                    <th>Acties</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Kleuren)
                {
                    <tr>
                        <td>@item.Kleur</td>
                        <td>
                            <a class="btn btn-default" asp-page="./Edit" asp-route-Id="@item.Id"><i class="fa-solid fa-pen-to-square"></i> Edit</a> |
                            <form asp-page="./Delete" asp-page-handler="Delete" asp-route-KleurenToDelete="@item.Id" style="display: inline;">
                                <button type="submit" class="btn btn-default" onclick="return confirm('Bent u zeker dat u dit item wil verwijderen?')"><i class="fa-solid fa-trash"></i> Delete</button>
                            </form>

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
